@namespace InsideOutSoftware.Web.Components.WebProjects

<div class="html-project-container">
    <iframe src="@ProjectUrl" class="html-project-frame" title="@Title" scrolling="yes"></iframe>
</div>

@code {
    [Parameter, EditorRequired]
    public string ProjectUrl { get; set; } = string.Empty;
    
    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;
}
