<div class="about-container">

    <h2>About</h2>

    <p>Hello! I'm Andrew. I enjoy building cross-platform mobile apps using .NET MAUI. I focus on making sure the
        final product matches the client expectations while also providing clients with best practices related to
        mobile development.</p>
</div>