<div class="header-container">
    
    <div class="header-img-container">
        
        <img
            class="header-img"
            src="Images/headshot.jpeg"
            alt="Headshot" />
    </div>
    
    <div class="header-txt-container">
        
        <h1>Andrew Hoffman</h1>
        
        <p>.NET Developer with a focus on Xamarin Forms/MAUI</p>
    </div>
</div>