<div class="header-container">
    <div class="header-content">
        <div class="header-img-container">
            <img
                class="header-img"
                src="Images/headshot.jpeg"
                alt="Headshot" />
        </div>
        
        <div class="header-txt-container">
            <h1>Andrew Hoffman</h1>
            <p class="header-subtitle">.NET Developer with a focus on Xamarin Forms/MAUI</p>
            <div class="header-cta">
                <a href="#projects" class="btn btn-primary">View Projects</a>
                <a href="#contact" class="btn btn-outline">Contact Me</a>
            </div>
        </div>
    </div>
</div>