.links-ul {
    align-items: center;
    display: flex;
    margin: 2rem 0 25px .25rem;
    list-style: none;
    padding: 0;
}

.links-li {
    font-size: .75rem;
    line-height: 1rem;
    flex-shrink: 0;
    margin-right: 1.25rem;
}

.links-a {
    display: block;
    color: rgba(255,255,255,.64);
}

    .links-a:hover {
        color: white;
    }
    
.links-svg {
    display: block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
}