<div class="projects-container">
    
    <h2>Projects</h2>
    
    <ProjectEntry
        Title="Pharmacy App"
        ImgSrc="Images/PharmacyApp/pharmacyApp01.png"
        ImgAlt="PharmacyApp"
        Description="This Pharmacy App is an app built using Xamarin and .NET Maui to allow users to access their 
prescription history and refill prescriptions as needed."
        ImgFolder="PharmacyApp"/>

    <ProjectEntry
        Title="WellData&trade; MobileRT"
        ImgSrc="Images/MobileRT/mobilert01.png"
        ImgAlt="WellData MobileRT"
        Description="WellData&trade; MobileRT was an app built using Xamarin Forms to
            monitor drilling rig information in real time."
        ImgFolder="MobileRT"/>

    <ProjectEntry
        Title="Sharp Remote"
        ImgSrc="Images/SharpRemote/sharpremote01.png"
        ImgAlt="Sharp Remote"
        Description="Sharp Remote was a personal project developed after my kids kept losing the TV remote.
            
            It uses web sockets to send remote commands to the TV, and a SQL Lite database to store custom buttons the user can set."
        ImgFolder="SharpRemote"
        Border="true"/>
    
</div>