@using Microsoft.CodeAnalysis.Operations
<div class="projects-container">
    
    <h2>Projects</h2>

    <ProjectEntry
        Title="WellData MobileRT"
        ImgSrc="Images/MobileRT/mobilert01.png"
        ImgAlt="WellData MobileRT image 1"
        TModalType="MobileRTDialog"/>
</div>