<div class="projects-container">
    
    <h2>Projects</h2>

    <ProjectEntry
        Title="Pharmacy App"
        ImgSrc="Images/PharmacyApp/pharmacyApp01.png"
        ImgAlt="PharmacyApp"
        ModalSize="ModalSize.Large"
        TModalType="PharmacyApp"/>

    <ProjectEntry
        Title="WellData&trade; MobileRT"
        ImgSrc="Images/MobileRT/mobilert01.png"
        ImgAlt="WellData MobileRT"
        ModalSize="ModalSize.Large"
        TModalType="MobileRTDialog"/>
    
    <ProjectEntry
        Title="Sharp Remote"
        ImgSrc="Images/SharpRemote/sharpremote01.png"
        ImgAlt="Sharp Remote"
        ModalSize="ModalSize.Large"
        TModalType="SharpRemoteDialog"/>
</div>