<div class="work-container">
    
    <div class="date">
        
        <p>@Dates</p>
    </div>
    
    <div class="details">
        
        <a
            href="@WebLink"
            target="_blank">
            @JobTitle
        </a>
        
        <p>@Description</p>
        
        <ul class="tech-ul">

            @foreach (var tech in Techs)
            {
                <li class="tech-li">
                        
                    <div class="tech-div">
                            @tech
                    </div>
                </li>
            }
        </ul>
        
    </div>
</div>

@code {

    [Parameter]
    public string Dates { get; set; }
    
    [Parameter]
    public string JobTitle { get; set; }
    
    [Parameter]
    public string Description { get; set; }
    
    [Parameter]
    public List<string> Techs { get; set; }
    
    [Parameter]
    public string WebLink { get; set; }
}