<div class="container">
    
    <div class="row">
        
        <h2>
            WellData MobileRT was an app built using Xamarin Forms to
            monitor drilling rig information in real time.
        </h2>
    </div>
    
    <div class="row">
        <div class="col-md-4"><img src="Images/MobileRT/mobilert01.png" alt="Mobile RT" /></div>
        <div class="col-md-4"><img src="Images/MobileRT/mobilert02.png" alt="Mobile RT" /></div>
        <div class="col-md-4"><img src="Images/MobileRT/mobilert03.png" alt="Mobile RT" /></div>
    </div>

    <div class="row">
        <div class="col-md-6"><img src="Images/MobileRT/mobilert04.png" alt="Mobile RT" /></div>
        <div class="col-md-6"><img src="Images/MobileRT/mobilert05.png" alt="Mobile RT" /></div>
    </div>
</div>











