<div class="container">
    
    <div class="row">
        
        <h2>
            This <a href="https://play.google.com/store/apps/details?id=com.stopandshop.rx">Pharmacy App</a> is an app 
            built using Xamarin and .NET Maui to allow users to access their prescription history and refill 
            prescriptions as needed.
        </h2>
    </div>
    
    <div class="row">
        <div class="col-md-4"><img class="img-top" src="Images/PharmacyApp/pharmacyApp01.png" alt="Pharmacy App" /></div>
        <div class="col-md-4"><img class="img-top" src="Images/PharmacyApp/pharmacyApp02.png" alt="Pharmacy App" /></div>
        <div class="col-md-4"><img class="img-top" src="Images/PharmacyApp/pharmacyApp03.png" alt="Pharmacy App" /></div>
    </div>

    <div class="row">
        <div class="col-md-6"><img class="img-bottom" src="Images/PharmacyApp/pharmacyApp04.png" alt="Pharmacy App" /></div>
        <div class="col-md-6"><img class="img-bottom" src="Images/PharmacyApp/pharmacyApp05.png" alt="Pharmacy App" /></div>
    </div>
</div>











