h2 {
    color: black;
}

img {
    width: 140px;
    display: block;
    margin: 10px auto;
    transition: transform .25s ease;
    transform-origin: bottom;
}

img.img-top {
    transform-origin: top;
}

img.img-bottom {
    transform-origin: bottom;
}

img.img-border {
    border: 1px solid black;
    box-sizing: border-box;
}
img:hover {
    transform:scale(1.5);
}