h2 {
    color: black;
    white-space: pre-line;
}

img {
    width: 140px;
    display: block;
    margin: 10px auto;
    border: 1px solid black;
    box-sizing: border-box;
    transition: transform .25s ease;
    transform-origin: bottom;
}

img:hover {
    transform:scale(1.5);
}