<div class="container">

    <div class="row">

        <h2>
            Sharp Remote was a personal project developed after my kids kept using the TV remote.
            
            It uses web sockets to send remote commands to the TV, and a SQL Lite database to store custom buttons the user can set.
        </h2>
    </div>

    <div class="row">
        <div class="col-md-4"><img src="Images/SharpRemote/sharpremote01.png" alt="Sharp Remote" /></div>
        <div class="col-md-4"><img src="Images/SharpRemote/sharpremote02.png" alt="Sharp Remote" /></div>
        <div class="col-md-4"><img src="Images/SharpRemote/sharpremote03.png" alt="Sharp Remote" /></div>
    </div>

    <div class="row">
        <div class="col-md-6"><img src="Images/SharpRemote/sharpremote04.png" alt="Sharp Remote" /></div>
        <div class="col-md-6"><img src="Images/SharpRemote/sharpremote05.png" alt="Sharp Remote" /></div>
    </div>
</div>