html, body {
    font-family: 'Aspekta', Helvetica, Arial, sans-serif;
    background-color: #03004D;
    color: #E2E8F0;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}
