@page "/"


<PageTitle>Andrew Hoffman - .NET Developer</PageTitle>

<h1>Andrew Hoffman</h1>

<div>
    <h4>About</h4>
    
    <p>I'm Andrew and I do things.</p>
</div>

<WorkEntry
    Dates="2022 - Present"
    JobTitle="Software Developer - Pixel and Texel"
    Description="I did some really cool things."
    Techs="Xamarin ~ .NET Maui ~ SQL Server"
    WebLink="https://www.pixelandtexel.com/"/>

<WorkEntry
    Dates="2022 - Present"
    JobTitle="Software Developer - Skyllful"
    Description="I did some really cool things."
    Techs="Xamarin ~ .NET Maui ~ SQL Server"
    WebLink="https://www.skyllful.com/"/>

<a
    href="https://github.com/ahoffmandevelopment"
    target="_blank">
    
    <img src="Icons/github-mark.svg" alt="Github SVG"/>
</a>


