@page "/mobilert"

<h2>
    WellData MobileRT was an app built using Xamarin Forms to
    monitor drilling rig information in real time.
</h2>
    
<img src="Images/MobileRT/mobilert01.png" alt="Mobile RT" />

<img src="Images/MobileRT/mobilert02.png" alt="Mobile RT" />

<img src="Images/MobileRT/mobilert03.png" alt="Mobile RT" />

<img src="Images/MobileRT/mobilert04.png" alt="Mobile RT" />

<img src="Images/MobileRT/mobilert05.png" alt="Mobile RT" />
    