<div
    class="project-entry-container"
    @onclick="OnProjectEntryClicked">

    <div class="title">

        <p>@Title</p>
    </div>

    <div class="img-container">

        <img
            class="project-image"
            src="@ImgSrc"
            alt="@ImgAlt" />
    </div>
</div>

<Modal
    @ref="modal"
    Size="@ModalSize"/>

@typeparam TModalType
@code {
    private Modal modal = default!;
    
    [Parameter]
    public string ImgSrc { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImgAlt { get; set; }

    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public ModalSize ModalSize { get; set; } = ModalSize.Regular;

    private async Task OnProjectEntryClicked()
    {
        await modal.ShowAsync<TModalType>(Title);
    }
}