<div class="work-entry">
    <div class="work-date">
        <span>@Dates</span>
    </div>
    
    <div class="work-details">
        <a href="@WebLink" target="_blank" class="work-title-link">
            <h3 class="work-title">
                @JobTitle
                @if (!string.IsNullOrWhiteSpace(WebLink))
                {
                    <span class="material-symbols-outlined title-span">arrow_outward</span>
                }
            </h3>
        </a>
        
        <p class="work-description">@Description</p>
        
        <ul class="tech-list">
            @foreach (var tech in Techs)
            {
                <li class="tech-item">@tech</li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public string Dates { get; set; }
    
    [Parameter]
    public string JobTitle { get; set; }
    
    [Parameter]
    public string Description { get; set; }
    
    [Parameter]
    public List<string> Techs { get; set; }
    
    [Parameter]
    public string WebLink { get; set; }
}